/* Estilos da página index.html*/
/*{
   margin: 0;
   padding: 0;
}*/

body{
    font-family: tahoma,sans-serif;
    color:white;
    width: 1024px;
    padding: 0;
    margin: 50px auto;
    background-color: rgb(17, 20, 17);
    
}   

#menu {
    background-color: #181d18;
    text-align: left;
    padding: 15px;
 }
 
 #menu li {
    display: inline;
    padding: 15px;
 }
 
 #menu li a {
    text-decoration: none;
    color:#426445 ;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 12px;
    transition: color .3s linear;
 }
 
 #menu li a:hover {
    color:white;
 }


.center {
    text-align: center;
    text-transform: uppercase;
 }

 .left{
   text-align: left;
   margin-left: 5%;
 }
 
.justify{
    text-align: justify;
 }
 
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
 } 

 .fantasy{
font-family: cursive;
color: rgb(59, 236, 5);
text-align: right;
margin-right: 5%;
text-transform: uppercase;
}

.img-100{
     width: 450%;
 }

.p-30 {
    padding: 20px;
    line-height: 2;
    text-align: left;
    margin-left: 50%;

 }
 
.br-50 {
   border-radius: 50%;
}

.wh-300{
   width: 300px;
   height: 300px;

}

.mb-50{
   margin-bottom: 50px;
 }

.card{
   float: left;
   width: 32%;
   text-align: center;
}

.rodape p{
    background-color: #181d18;
    color: white;
    text-align: center;
    padding: 15px;
}


/* Estilos da página contato.html*/

.ml-50 {
    margin-left: 60px;
 }

 .br-2{
   border: 2px solid #426445;
   border-radius: 8px;

 }

.btn{
   padding: 1em;
   border-radius: 8px;
   background: transparent;
   border: 2px solid #426445;
   font-size: 1em;
   color: white;
   cursor: pointer;
   position: relative;
}

.btn::before{
   content: '';
   position: absolute;
   background:#426445;
   height: 100%;
   width: 0;
   top: 0;
   left: 0;
   z-index: -1;
   transition: all .5s ease;
}

.btn:hover::before{
   width: 100%;
}